.banner {
  background-size: cover !important;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}

.banner-content{
  /*border-style: dashed;*/
  /*border-color: red;*/
  background-color: #2e2c28;
  opacity: 0.9;
  padding: 20px 17px;
  border-radius: 10px;
  /*padding: 10px 50px;*/
}

