.container{
  text-align: center;
}

.container p{
  color: black;
}

.cards{
  border-style: dashed;
  border-color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: red;
}

.card{
  background-color: white;
}
